@using Microsoft.AspNetCore.Identity
@using CM.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<a href="tel:66-87-65-43-21" class="phoneIcon" style="display:none">+66 87 65 43 21</a>
    <a href="http://goo.gl/maps/IUzKJ" class="locationIcon" target="_blank" style="display:none;">http://goo.gl/maps/IUzKJ</a>*@
    <ul class="smallSocials">
        <li class="dropdown active" >
            <a  class="btn twitter" asp-area="Identity" asp-page="/Account/Manage/Index"><font size="5">Hello @User.Identity.Name!</font></a>
            <ul class="dropdown-menu" style="background-color:brown">
                <li style="background-color:brown">
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <button type="submit" class="progress-bar" style="border:0px"><font size="5">Settings</font></button>
                    </form>
                </li>
                <li style="background-color:brown">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="progress-bar" style="border:0px"><font size="5">Logout</font></button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
<ul class="smallSocials">
    <li class="dropdown">
        <a class="btn " asp-area="Identity" asp-page="/Account/Manage/Index"><font size="5">Account</font></a>
        <ul class="dropdown-menu" style="background-color:brown">
            <li style="background-color:brown">

                <form method="get" class="form-inline" action="Identity/Account/Login">
                    <button type="submit" class="progress-bar" style="border:0px"><font size="5">Login</font></button>
                </form>
            </li>
            <li style="background-color:brown">
                <form method="get" class="form-inline" action="Identity/Account/Register">
                    <button type="submit" class="progress-bar" style="border:0px"><font size="5">Register</font></button>
                </form>
            </li>
        </ul>
        </li>
</ul>
}
