@model BarReviewViewModel
@{
    ViewData["Title"] = "_LeaveReviewPartial";
}


        <h3 class="hdr6 align-content-center">Leave a comment:</h3>
    <div class="row">
        <form class="col-md-4 col-md-offset-4"  asp-area="Reviews" asp-controller="BarReviews" asp-action="CreateBarReview">
            <dd hidden>
                <input asp-for="BarId" value="@Model.BarId" />
                <input asp-for="UserID" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            </dd>
            @*<dd class="col-sm-12">
                <textarea type="text" asp-for="Description" class="active box-shadow" id="MyTextArea" rows="7" cols="50" maxlength="500" placeholder=" --Your text here--"></textarea>
            </dd>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="form-group col-sm-12">
                <input type="submit" value="&#128190 Submit" class="btn btn-outline-info" />
            </div>*@
            <div class="form-group">
                <label class="label-sm">Rating</label>
                <select asp-for="@Model.Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="label-sm">Description</label>
                <textarea asp-for="Description" class="form-control input-sm" rows="5" placeholder="type your message"></textarea>
                <br />
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>