@using Microsoft.AspNetCore.Identity
@using CM.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@* TO BE DELETED *@
@if (!SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark ml-5" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark ml-5" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <li class="dropdown">
        <a href="1_shortcodes_boxes.html" class="dropdown-toggle">Bars</a>
        <ul class="dropdown-menu">
            <li><a href="1_shortcodes_boxes.html">Bars List</a></li>
            <li><a href="2_shortcodes_toggleable.html">Add new bar</a></li>
            @*<li><a href="3_shortcodes_contact.html">List</a></li>
                <li><a href="4_buttons_typography.html">Typography</a></li>
                <li><a href="5_shortcodes_elements.html">Elements</a></li>
                <li><a href="6_images_sliders.html">Sliders</a></li>*@
        </ul>
    </li>
    <li class="dropdown">
        <a href="1_shortcodes_boxes.html" class="dropdown-toggle">Cocktails</a>
        <ul class="dropdown-menu">
            <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails">Cocktails List</a></li>
            <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Create">Add new cocktail</a></li>
            @*<li><a href="3_shortcodes_contact.html">List</a></li>
                <li><a href="4_buttons_typography.html">Typography</a></li>
                <li><a href="5_shortcodes_elements.html">Elements</a></li>
                <li><a href="6_images_sliders.html">Sliders</a></li>*@
        </ul>
    </li>
    if (User.IsInRole("Administrator"))
    {
        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Users</a></li>
    }
}
