@using Microsoft.AspNetCore.Identity
@using CM.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<li class="dropdown">
    <a asp-area="Bars" asp-controller="Bars" asp-action="ListBars" class="dropdown-toggle">Bars</a>
    <ul class="dropdown-menu">
        <li><a asp-area="Bars" asp-controller="Bars" asp-action="ListBars">Bars List</a></li>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
            <li><a asp-area="Bars" asp-controller="Bars" asp-action="Create">Add new bar</a></li>
        }
    </ul>
</li>
<li class="dropdown">
    <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails" class="dropdown-toggle">Cocktails</a>
    <ul class="dropdown-menu">
        <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails">Cocktails List</a></li>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
            <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Create">Add new cocktail</a></li>
        }
    </ul>
</li>
@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <li class="dropdown">
        <a asp-area="Ingredients" asp-controller="Ingredients" asp-action="Index" class="dropdown-toggle">Ingredients</a>
        <ul class="dropdown-menu">
            <li><a asp-area="Ingredients" asp-controller="Ingredients" asp-action="Index">Ingredients List</a></li>
            <li><a asp-area="Ingredients" asp-controller="Ingredients" asp-action="Create">Add new Ingredient</a></li>
        </ul>
    </li>
}
@if (User.IsInRole("Administrator"))
{
    <li><a asp-area="" asp-controller="AppUser" asp-action="ListUsers">Users</a></li>
}

