@using Microsoft.AspNetCore.Identity
@using CM.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<li class="dropdown">
    <a asp-area="Bars" asp-controller="Bars" asp-action="Index" class="dropdown-toggle">Bars</a>
    <ul class="dropdown-menu">
        <li><a asp-area="Bars" asp-controller="Bars" asp-action="Index">Bars List</a></li>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
            <li><a asp-area="Bars" asp-controller="Bars" asp-action="Create">Add new bar</a></li>
        }
        @*<li><a href="3_shortcodes_contact.html">List</a></li>
            <li><a href="4_buttons_typography.html">Typography</a></li>
            <li><a href="5_shortcodes_elements.html">Elements</a></li>
            <li><a href="6_images_sliders.html">Sliders</a></li>*@
    </ul>
</li>
<li class="dropdown">
    <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails" class="dropdown-toggle">Cocktails</a>
    <ul class="dropdown-menu">
        <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails">Cocktails List</a></li>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
            <li><a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Create">Add new cocktail</a></li>
        }
        @*<li><a href="3_shortcodes_contact.html">List</a></li>
            <li><a href="4_buttons_typography.html">Typography</a></li>
            <li><a href="5_shortcodes_elements.html">Elements</a></li>
            <li><a href="6_images_sliders.html">Sliders</a></li>*@
    </ul>
</li>
@if (User.IsInRole("Administrator"))
{
    <li><a asp-area="" asp-controller="AppUser" asp-action="ListUsers">Users</a></li>
}

