
@{
    ViewData["Title"] = "CatchAll";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<center><img src=" https://betservis.com/images/404.gif?62518dc1baaf8959c992559807c35ac3"></center>
<center><p><h1><font color="gray"><b><i>The page you are looking for was moved or does not exist! </i></b></font></h1></p></center>
<form method="post" style="padding-left:50px">
    <center>
        <p>
            <h2>
                <font color="gray">
                    <b>
                        <i>
                            Let's help you to get you
                            <a type="submit" class="btn bg-info border-0" asp-controller="Home" asp-action="Index"> Back Home</a>

                        </i>
                    </b>
                </font>
            </h2>
        </p>
    </center>
</form>
