
@{
    ViewData["Title"] = "CatchAll";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
    <div class="bg-1 section" id="events" style="margin-top:-18px">
        <div class="inner" data-image="/assets/images/content/ccback12.jpg" data-topspace="1" style="background-image: url('/assets/images/content/ccback12.jpg'); padding-top: 1px;">
            <div class="inner" data-topspace="1" data-bottomspace="1" style="background-image: none; ">
                
                    <center><img src="https://betservis.com/images/404.gif?62518dc1baaf8959c992559807c35ac3"></center>
                <div style="background-color:rgba(16, 6, 6, 0.9)">
                    <center><p><h1><font color="red"><b><i>The page you are looking for was moved or does not exist! </i></b></font></h1></p></center>
                    <form method="post" style="padding-left:50px">
                        <center>
                            <p>
                                <h2>
                                    <font color="gray">
                                        <b>
                                            <i>
                                                Let's help you to get you
                                                <a type="submit" class="btn btn-success" asp-controller="Home" asp-action="Index"> Back Home</a>

                                            </i>
                                        </b>
                                    </font>
                                </h2>
                            </p>
                        </center>
                    </form>
                    </div>
                    </div>
                    </div>
                    </div>