
@{
    ViewData["Title"] = "About";
}
<div class="bg-1 section" id="events" style="margin-top:-18px">
    <div class="inner" data-image="/assets/images/content/ccback12.jpg" data-topspace="1" style="background-image: url('/assets/images/content/ccback12.jpg'); padding-top: 1px;">
        <div class="inner" data-topspace="1" data-bottomspace="1" style="background-image: none; ">
                    <h3 class="hdr4">Trace the 130-year Evolution of the</h3>
            <article class="article-content" style="background-color:rgba(16, 6, 6, 0.80);padding-left:20px">
                <div intent="" in-tablet-prepend=".article-content" in-mobile-prepend=".article-content" in-desktop-prepend=".article-content" in-bigdesktop-prepend=".article-content">
                    <center>
                    <img src="~/assets/images/content/coca-cola-logo-transparent.png" width="400">
                    <div class="articleBody Article"></center>
                    <div id="article">
                        <p>
                            <center>
                                <h4 style="color:gold; padding-right:20px">
                                    <i>
                                        The <nobr>Coca-Cola</nobr>
                                        logo is iconic for being universally recognisable. However you may be surprised
                                        to know that the brand’s world-famous script and wave haven’t always looked
                                        exactly as they do now.<o:p></o:p>
                                    </i>
                                </h4>
                            </center>
                        </p><p style="font-size:large">
                            This timeline
                            explains some of the changes that occurred since
                            the first-ever <nobr>Coca-Cola</nobr> was poured nearly 130 years ago.
                        </p><h3 class=" cms-h-h3"><b><span>1886 – What’s in a name?<o:p></o:p></span></b></h3><p style="font-size:large">
                            On 8 May 1886, <a href="http://www.coca-colajourney.com.au/stories/the-chronicle-of-coca-cola-birth-of-a-refreshing-idea" title="Link: http://www.coca-colajourney.com.au/stories/the-chronicle-of-coca-cola-birth-of-a-refreshing-idea" data-cms-id="0000013f-c99a-d15c-ad3f-ffdf1dba0000" data-cms-href="http://www.coca-colajourney.com.au/stories/the-chronicle-of-coca-cola-birth-of-a-refreshing-idea" target="_blank">Dr John S Pemberton</a><span class="MsoHyperlink"> </span><span>
                                nailed the formula, but it was his bookkeeper who came up
                                with the name "Coca-Cola®". Frank M Robinson, suggested that “the two
                                Cs would look well in advertising”.<o:p></o:p>
                            </span>
                        </p><p style="font-size:large">
                            <span>
                                And with that,
                                Robinson also designed the now world famous <nobr>Coca-Cola</nobr> script logo. <o:p></o:p>
                            </span>
                        </p><p style="font-size:large">
                            <span>
                                He wanted his
                                name for the new product to have an effective and dramatic style of its own. He
                                experimented with an elaborate Spencerian script, a form of penmanship
                                characteristic of that time. After consultation, the others working at
                                Pemberton’s company adopted the script by unanimous consent.<o:p></o:p>
                            </span>
                        </p><p style="font-size:large">
                            Drawn in
                            flowing handwriting, Robinson’s elaborate script was very “of the moment”, and
                            it remains one of the most recognisable trademarks in the world.
                        </p><p><br></p><br><br><components>
                            <div style="float: left;padding-right: 10px;">
                                <div class="par1 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par1/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1887-1890s-inserting-the-trademark.png"
                                                 alt="1887-1890s – Inserting the trademark" title="1887-1890s – Inserting the trademark">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3">
                            <b>1887-1890s –</b><span>
                                <b>
                                    Inserting
                                    the trademark<o:p></o:p>
                                </b>
                            </span>
                        </h3><p class="MsoNormal" style="font-size:large">
                            On January 31,
                            1893, the logo was trademarked with the U.S. Patent Office.&nbsp; The words "Trade mark" are written in
                            the tail of the "C" in Coca.
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par2 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par2/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1890-1891-extra-swirls-187-110.jpg" alt="1890-1891 – Extra swirls" title="1890-1891 – Extra swirls">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1890-1891 – Extra swirls<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            For one year
                            only, the Coke logo gets a dramatic, swirly makeover.
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par3 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par3/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1941-1960s-tail-tweak-187-180.jpg" alt="1941-1960s – Tail tweak" title="1941-1960s – Tail tweak">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1941-1960s – Tail tweak<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            The words
                            ‘Trademark Registered’ move out of the tail of the ‘C’. The trademark is noted
                            below the logo, instead of inside it.<br>
                        </p><p class="MsoNormal" style="font-size:large">
                            19 November
                            1947, the modern Spencerian script, as we know it today, is registered in <a data-cms-id="0000013f-78b6-dbe4-a73f-feffa77a0001" data-cms-href="http://www.coca-colajourney.com.au/our-company/coca-cola-australia/one-small-idea-how-coca-cola-became-an-aussie-phenomenon" href="http://www.coca-colajourney.com.au/our-company/coca-cola-australia/one-small-idea-how-coca-cola-became-an-aussie-phenomenon" target="_blank" title="Link: http://www.coca-colajourney.com.au/our-company/coca-cola-australia/one-small-idea-how-coca-cola-became-an-aussie-phenomenon">Australia</a>.
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par4 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par4/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1947-1960s-the-coca-cola-red-disc-187-110.jpg" alt="1947-1960s – The Coca-Cola Red Disc" title="1947-1960s – The Coca-Cola Red Disc">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1947-1960s – The <nobr>Coca-Cola</nobr> Red Disc<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            Since 1947, the
                            Red Disc or “button” sign has been used to advertise <nobr>Coca-Cola</nobr>. The strong
                            graphic image of the disc shape, became a cornerstone for outdoor signage. In
                            1948, the discs began to be hung inside a place of business as advertising and
                            decoration.
                        </p><p class="MsoNormal" style="font-size:large">
                            Red Disc images
                            also appeared in print advertising into the 1960’s when the Arciform or “fish
                            tail” signs began to be used.
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par5 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par5/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1958-1960s-a-fishy-shape-187-110.jpg" alt="1958-1960s – A fishy shape" title="1958-1960s – A fishy shape">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1958-1960s – A fishy shape<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            This period
                            sees the script placed inside an Arciform shape, which looks like an arch. The Arciform sign (better known as the “Fishtail”
                            sign) was unveiled in 1958. Within a year, the Arciform design was used in
                            copy, signage, cartoons and on vending machines.<br>
                        </p><p class="MsoNormal" style="font-size:large">
                            Unfortunately,
                            by 1965 this design was phased out and replaced by the familiar Red Disc of
                            earlier years. It was decided that the <a href="http://www.coca-colacompany.com/stories/2014/03/the-coca-cola-red-disc/" title="Link: http://www.coca-colacompany.com/stories/2014/03/the-coca-cola-red-disc/" target="_blank">red circle</a>&nbsp;was the strongest
                            visual association with the trademark.&nbsp;
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par6 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par6/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1969-that-white-wave-187-110.jpg" alt="1969 – That white wave" title="1969 – That white wave">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1969 – That white wave<o:p></o:p></span></b></h3><p class="MsoNormal">
                            <span style="font-size:large">
                                The
                                Arden Square logo is unveiled. In a red box, the<span class="apple-converted-space">&nbsp;</span>
                            </span><span style="font-size:large">
                                Coca-Cola<span class="apple-converted-space">&nbsp;</span>script is underlined with a white ‘wave’, or ‘Dynamic
                                Ribbon Device’. This is still used today.
                            </span><br>
                        </p><p class="MsoNormal" style="font-size:large"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par7 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par7/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/1982-diet-coke-187-110.jpg" alt="1982 – Diet Coke" title="1982 – Diet Coke">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>1982 – Diet Coke®<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            The 1980’s
                            featured memorable slogans such as “Coke is It!” and in 1982, the introduction
                            of Diet Coke - the <a href="http://www.coca-colajourney.com.au/stories/how-well-do-you-know-your-favourite-coke" title="Link: http://www.coca-colajourney.com.au/stories/how-well-do-you-know-your-favourite-coke" target="_blank">
                                first extension of the <nobr>Coca-Cola</nobr>
                                trademark
                            </a>. The famous script logo was changed to a slab
                            serif font. And the original Diet Coke logo <a href="http://www.coca-colajourney.com.au/stories/sparkling-together-for-30-years-how-diet-coke-has-captured-hearts-for-three-decades" title="Link: http://www.coca-colajourney.com.au/stories/sparkling-together-for-30-years-how-diet-coke-has-captured-hearts-for-three-decades" target="_blank">design</a>&nbsp;included bold red letters
                            against a white background.
                        </p><p class="MsoNormal" style="font-size:large"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par8 parsys">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par8/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/2003-keeping-it-real-187-110.jpg" alt="2003 – Keeping it real" title="2003 – Keeping it real">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>2003 – Keeping it real<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            With the
                            introduction of the "<a href="http://www.coca-colajourney.com.au/stories/a-history-of-coca-cola-advertising-slogans" title="Link: http://www.coca-colajourney.com.au/stories/a-history-of-coca-cola-advertising-slogans" target="_blank"><nobr>Coca-Cola</nobr>... Real</a>"&nbsp;campaign, the Dynamic Ribbon Device was enhanced with a
                            shock of yellow and some bubbles.
                        </p><p class="MsoNormal"><br></p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="parsys par9">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par9/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/2007-a-classic-design-187-110.jpg" alt="2007 – A classic design" title="2007 – A classic design">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>2007 – A classic design<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            A simple, bold
                            approach with a single white ribbon.
                        </p><p class="MsoNormal"><br></p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="parsys par10">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par10/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/2011-125-years-of-happiness-187-110.jpg" alt="2011 – 125 years of happiness" title="2011 – 125 years of happiness">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>2011 – 125 years of happiness<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            Coca-Cola's
                            125th birthday logo sees bubbles bursting from the <a href="http://www.coca-colajourney.com.au/stories/coca-cola-contour-bottle-100-years" title="Link: http://www.coca-colajourney.com.au/stories/coca-cola-contour-bottle-100-years" target="_blank">contour bottle</a><span class="MsoHyperlink"> </span>– a celebration of the past, present and future.
                        </p><p class="MsoNormal"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="parsys par11">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par11/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/20132014-your-name-that-classic-font-187-110.jpg" alt="2013―2014 – Your name that classic font" title="2013―2014 – Your name that classic font">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>2013―2014 – Your name, that classic font<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            The <a href="http://www.coca-colajourney.com.au/stories/share-a-coke-how-the-groundbreaking-campaign-got-its-start-down-under" title="Link: http://www.coca-colajourney.com.au/stories/share-a-coke-how-the-groundbreaking-campaign-got-its-start-down-under" target="_blank">Share a Coke campaign</a>, swapped out the <nobr>Coca-Cola</nobr> logo with your first name. Originally,
                            the idea was conceived with names printed in the traditional “Coca-Cola”
                            Spencerian script. However, due to trademark issues, a brand-new typeface
                            inspired by the “Coke” logo was created. The typeface was named “You” because
                            it’s about you, the consumer, not <nobr>Coca-Cola</nobr>.<br>
                        </p><p class="MsoNormal" style="font-size:large">
                            The
                            first-of-its-kind campaign, was created in Sydney in 2011 and has since reached
                            more than 70 countries. <nobr>Coca-Cola</nobr> teams around the world have put their own
                            creative spin on the concept, which revolved around the iconic logo.
                        </p><p class="MsoNormal" style="font-size:large"><br></p><br><br><components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="parsys par12">
                                    <div class="section Image">
                                        <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par12/image" style="width: 187px;" class="img-inside-article">
                                            <img src="~/assets/images/content/2016-taste-the-feeling-187-110.jpg" alt="2016 - Taste the Feeling" title="2016 - Taste the Feeling">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </components><h3 class="MsoNormal cms-h-h3"><b><span>2016 ― “Taste the Feeling”<o:p></o:p></span></b></h3><p class="MsoNormal" style="font-size:large">
                            The uplifting
                            taste and iconic appeal of the original <nobr>Coca-Cola</nobr> Trademark, unites the
                            Coca-Cola family of four Coke products. The new global creative campaign
                            features the familiar <nobr>Coca-Cola</nobr> icons, such as the contour glass bottle and the
                            popular Red Disk logo design.<br>
                        </p><p class="MsoNormal">
    <span style="font-size:large">
        Here’s a fun fact,
        “Taste the Feeling” is the 47th <a data-cms-id="00000154-9d90-d189-a15e-dfd4ff100000" data-cms-href="http://www.coca-colajourney.com.au/stories/celebrating-130-years-of-coca-cola" href="http://www.coca-colajourney.com.au/stories/celebrating-130-years-of-coca-cola" target="_blank">major advertising slogan</a> <nobr>Coca-Cola</nobr> has introduced through the years! <o:p></o:p>
    </span>

    @**cocktailMagician*@
    <br><br><components>
        <div "=" " style="float: left;padding-right: 10px;">
            <div class="parsys par12">
                <div class="section Image">
                    <div id="cq-image-jsp-/content/journey/nz/en/stories/2016/trace-the-130-year-evolution-of-the-coca-cola-logo/jcr:content/articleBody/par12/image" style="width: 187px;" class="img-inside-article">
                        <img src="~/assets/images/content/CocaColaCocktailLOGO_About.png" alt="2016 - Taste the Feeling" title="2016 - Taste the Feeling">
                    </div>
                </div>

            </div>
        </div>
        <br>
    </components><h3 class="MsoNormal cms-h-h3"><b><span>2019 ― “Cocktail Magician”<o:p></o:p></span></b></h3>
                            <p class="MsoNormal" style="font-size:large">
                                Produced by <font color="gold">JiT™ Team - Telerik</font> Cocktail Magician allows creation of recipes for innovative, exotic, awesome Cocktails and follows their distribution and success in amazing Bars.
                                We Cocktail Magicians only use the best Ingredients from all around the world!  <nobr>Coca-Cola</nobr> Trademark, unites the
                                Coca-Cola family of four Coke products. The new global creative campaign
                                features the familiar <nobr>Coca-Cola</nobr> icons, such as the contour glass bottle and the
                                popular Red Disk logo design.<br>
                            </p><p class="MsoNormal">
                           



                        </p><p class="MsoNormal" style="font-size:large"><i>Want to know more?</i><br></p><p class="MsoNormal">









                        </p><p class="MsoNormal">
                            <i>Try this: </i><a href="http://www.coca-colajourney.com.au/stories/coca-cola-slogans-through-the-years">
                                <i>
                                    Coca-Cola
                                    Slogans through the Years
                                </i>
                            </a><span class="MsoHyperlink"><i>&nbsp; </i></span><i>and </i><a href="http://www.coca-colajourney.com.au/stories/how-well-do-you-know-your-favourite-coke">
                                <i>
                                    How
                                    well do you know your favourite Coke
                                </i>
                            </a><i><span>?<o:p></o:p></span></i>
                        </p><br>
                    </div>
</div>
        <center>
            <a type="submit" class="btn btn-success" style="margin-bottom:20px" asp-controller="Home" asp-action="Index"> Back Home</a>
        </center>
                </div>


              
                
                <div class="more-content clearfix">
                    <div class="moreRail parsys iparsys">
                        <div class="iparys_inherited">
                            <!--googleoff: index--><div class="moreRail parsys iparsys">



                                <div class="MoreOnJourney section">
                                    <div class="more-on-journey">
                                        <h2 class="headline">
                                            <span itemprop="name" class="titles_updated" data-title="{
                                                  &quot;desktop&quot;:&quot;More on Journey<strong ></strong>&quot;,
			&quot;tablet&quot;:&quot;More on Journey<strong ></strong>&quot;,
			&quot;mobile&quot;:&quot;More on Journey<strong ></strong>&quot;}">
			More on Journey<strong></strong></span>
                                        </h2>
                                        <div class="thumb-container">
                                            <ul>
                                                <li>
                                                    <a href="/stories/new-coke-and-new-media-reimagining-the-infamous-product-launch-in-the-digital-era">
                                                        <span itemprop="name" data-title="{
                                                              &quot;desktop&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>New Coke and New Media:</strong> Reimagining the Infamous Product Launch in the Digital Era &quot;,
							&quot;tablet&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>New Coke and New Media:</strong> Reimagining the Infamous Product Launch in the Digital Era &quot;,
							&quot;mobile&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>New Coke and New Media:</strong> Reimagining the Infamous Product Launch in the Digital Era &quot;
						}" class="titles_updated">
						<strong class="theme-secondary">New Coke and New Media:</strong> Reimagining the Infamous Product Launch in the Digital Era </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stories/coca-cola-slogans-through-the-years">
                                                        <span itemprop="name" data-title="{
                                                              &quot;desktop&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>Coca-Cola Slogans</strong> through the Years&quot;,
							&quot;tablet&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>Coca-Cola Slogans</strong> through the Years&quot;,
							&quot;mobile&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>Coca-Cola Slogans</strong> through the Years&quot;
						}" class="titles_updated">
						<strong class="theme-secondary">Coca-Cola Slogans</strong> through the Years</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stories/a-living-legend-employee-celebrates-75-years-at-coke">
                                                        <span itemprop="name" data-title="{
                                                              &quot;desktop&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>A Living Legend:</strong> Employee Celebrates 75 Years at Coke&quot;,
							&quot;tablet&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>A Living Legend:</strong> Employee Celebrates 75 Years at Coke&quot;,
							&quot;mobile&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>A Living Legend:</strong> Employee Celebrates 75 Years at Coke&quot;
						}" class="titles_updated">
						<strong class="theme-secondary">A Living Legend:</strong> Employee Celebrates 75 Years at Coke</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stories/How-well-do-you-know-your-favourite-Coke">
                                                        <span itemprop="name" data-title="{
                                                              &quot;desktop&quot;:&quot;How well do you know your <strong class=\&quot;theme-secondary\&quot;>favourite Coke?</strong>&quot;,
							&quot;tablet&quot;:&quot;How well do you know your <strong class=\&quot;theme-secondary\&quot;>favourite Coke?</strong>&quot;,
							&quot;mobile&quot;:&quot;How well do you know your <strong class=\&quot;theme-secondary\&quot;>favourite Coke?</strong>&quot;
						}" class="titles_updated">
						How well do you know your <strong class="theme-secondary">favourite Coke?</strong></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stories/100-years-happy-birthday-to-the-coca-cola-contour-bottle">
                                                        <span itemprop="name" data-title="{
                                                              &quot;desktop&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>100 Years:</strong> Happy Birthday to the <nobr>Coca-Cola</nobr> Contour Bottle&quot;,
							&quot;tablet&quot;:&quot;<strong class=\&quot;theme-secondary\&quot;>100 Years:</strong> Happy Birthday to the <nobr>Coca-Cola</nobr> Contour Bottle&quot;,
							&quot;mobile&quot;:&quot;100 Years: Happy Birthday to the <nobr>Coca-Cola</nobr> Contour Bottle<strong class=\&quot;theme-secondary\&quot;></strong>&quot;
						}" class="titles_updated">
						<strong class="theme-secondary">100 Years:</strong> Happy Birthday to the <nobr>Coca-Cola</nobr> Contour Bottle</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
        </div>
    </div>
</div>