@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="bg-1 section" id="events" style="margin-top:-18px">
        <div class="inner" data-image="/assets/images/content/ccback12.jpg" data-topspace="1" style="background-image: url('/assets/images/content/ccback12.jpg'); padding-top: 1px;">
            <div class="inner" data-topspace="1" data-bottomspace="1" style="background-image: none; ">

                <h3 class="hdr4">Privacy Policy</h3>


                <article class="article-content" style="background-color:rgba(16, 6, 6, 0.80);padding-left:20px;padding-bottom:100px">
                    <div style="padding-top:50px">
                        <components>
                            <div "=" " style="float: left;padding-right: 10px;">
                                <div class="par2 parsys">
                                    <div class="section Image">
                                        <div class="img-inside-article">
                                            <img src="https://www.kamzan.com/wp-content/uploads/2017/12/GDPR-SME-1.png" width="500" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>


                    </div>
                        <p style="padding-left:0px;font-size:large">
                            <br>
                            <br>
                            We from The Coca-Cola Company Cocktail Magician™ JiT-Team Telerik Academy are concern about your personal data security. We strictly follow the <a href=" https://gdpr-info.eu/" style="color:gold">"General Data Protection Regulation" (GDPR)</a>!

                            Аny kind of obscene language or disrespectful attitude towards other users in any form will not be tolerated and will be punished with a ban by the administrators.


                        <p style="font-size:large">Thank you for your correct attitude.</p>
                        <p> </p>
                        <p style="font-size:large">
                            Have a great time with our amazing
                            <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="ListCocktails" style="color:gold">Cocktails</a>
                            and <a style="color:gold" asp-area="Bars" asp-controller="Bars" asp-action="ListBars"> Bars</a>.
                        </p>
                </article>
                    <center style="background-color:rgba(16, 6, 6, 0.80)">
                    <partial name="_BackToHomePageBtn" />
                        </center>
            </div>
                </div>
               </div>