@model AppUserViewModel

@{
    ViewData["Title"] = "Delete";
}

    <div>

        <br />
        <h3 class="hdr2">Are you sure you want to delete this User?</h3>
        
        <br />
        <h2 class="hdr1">@Model.Username</h2>
        <hr />
        <div class="row ">
            <div class="col-md-4 col-md-offset-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th><h5></h5></th>
                            <th><h5>Details</h5></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><img src="@Model.ImageURL" width="300" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
                            <td>

                                <h5>
                                    Email: @Model.Email
                                </h5>
                                <h5>
                                    Role: @Model.Role
                                </h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div align="center" style="padding-bottom:10px">
            <form style="align-content:center" method="post" asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="Id" />
                <input style="margin-bottom:10px" type="submit" value="Delete" class="pb-5 btn btn-danger" />
                <a asp-action="ListUsers" style="margin-bottom:5px" class="btn btn-success pt-6">Cancel</a>
            </form>
        </div>
    </div>
